@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  /* ====================================================
                 Google font  link start here
======================================================= */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* ====================================================
                 Google font  link end here
======================================================= */

/* ====================================================
                 common css start here
======================================================= */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
span{
    display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
li {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
/* .container {
  max-width: 1270px;
  margin: 0 auto;
}
:root {
  --primary_textColor: #fff;
  --primary_backgroundColor: #121212;
  --secondary_backgroundColor: #191919;
  --pink_color: #ff4655;
  --Oswald: "Oswald", sans-serif;
  --Barlow_condensed: "Barlow Condensed", sans-serif;
} */

}

@layer components{
.loader {
  width: 15px;
  aspect-ratio: .577;
  color: #fff;
  display: grid;
  background:
    linear-gradient(currentColor 0 0) top   /100% 1px,
    linear-gradient(currentColor 0 0) bottom/100% 1px,
    linear-gradient(to bottom right, #0000 calc(50% - 2px),currentColor calc(50% - 1px),#0000 50%) top/100% calc(100% + 2px),
    linear-gradient(to bottom left , #0000 calc(50% - 2px),currentColor calc(50% - 1px),#0000 50%) top/100% calc(100% + 2px); 
  background-repeat: no-repeat;
  animation: l17 4s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  background: inherit;
  border:inherit;
  animation: inherit;
}
.loader::after {
  animation-duration: 2s;
}
@keyframes l17 {
  100% {transform: rotate(1turn)}
}
}